p{
  position: absolute;
  width: 111px;
  height: 22px;
  left: 80px;
  top: 74px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #0B0D26;
}
.primary{
  position: absolute;
  top: -5%;
  background: #FFFFFF;
  border-radius: 0px;  
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;  
  color: black;
 
}
#employeeLogo{
  position: absolute;
  top: -20%;
  left: -5%;
  background: #FFFFFF;
  border-radius: 0px;  
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 16px;
  display: flex;
  align-items: center;  
  color: black;
}

.row{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 80px 12px 20px;
gap: 36px;

width: 1181px;
height: 420px;

background: rgba(67, 159, 217, 0.1);
border-bottom: 1px solid #F5F5F5;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.container{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: right;
padding: 22px 0px;

position: absolute;
width: 1126px;
height: 377px;
left: 60px;
top: 80px;

background: #FFFFFF;
/* Box shadow */

box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
border-radius: 10px;
}


button{
  position: absolute;
  left: 80%;
  right: 9%;
  top: 14%;
  bottom: 77%;
  background: #1D79F2;
  border-radius: 10px;  
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  display: flex;
  align-items: center;  
  color: #FFFFFF;
  border: 0.3px solid #F5F5F5;
}

.card{
  position: absolute;
  width: 1040px;
  height: 325px;
  left: 80px;
  top: 157px;
  background: #FFFFFF;
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
}

.btn:hover{
  background: #F2441D;
  border-radius: 10px;  
}

img{
  position: absolute;
  width: 159px;
  height: 175px;
  left: 450px;
  top: 60px;
}

.card-text{
  position: absolute;
  width: 172px;
  height: 16px;
  left: 465px;
  top: 235px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #434459;
}

form{
  position: absolute;
  width: 470px;
  height: 660px;
  left: 830px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  left: 810px;
}
.loadingform{
  position: absolute;
  width: 971px;
  height: 700px;
  left: -200px;
  top: 0px;
  background: #434459;
  opacity: 0.6;
}

#loader{
position: absolute;
left: 70%;
right: 53.97%;
top: 47%;
bottom: 20.36%;
height: 10%;
width: 7%;
border-radius: 100%;
color: #0B0D26;
}

 #loading{
  position: absolute;
  left: 70%;
  right: 53.97%;
  top: 47%;
  bottom: 20.36%;
  height: 10%;
  width: 7%;
  color: #0B0D26;
 

  border-radius: 50%;
}

#formparag{
  position: absolute;
  width: 148px;
  height: 22px;
  left: 2px;
  top: 19px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #0B0D26;
  margin-top: -5%;
  /* border: 0.1px solid #0B0D26; */
}
#dob, #department, #nationalid, #email, #phone, #surname, #name{
  padding-top: 25px;
  padding-left: 20px;
}

.submit_btn{
  background: #1D79F2;
  font-size: 20px;
  height: 50px; 
  width: 100px; 
  padding: 10px 15px; 
  margin-left: auto;
  top: 90%;
  left: 0%;
  right: 25%;
  
}
.clear_btn{
  background: #1D79F2;
  font-size: 20px;
  height: 50px; 
  width: 100px; 
  padding: 10px 15px; 
  margin-left: auto;
  top: 90%;
  left: 0%;
  right: 50%;
}
svg{
  width: 10px;
height: 10px;
padding-top: 0%;
background: #CCCCCC;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
text-decoration: none;


}

#edit_svg{
  position: absolute;
  top: -5%;
  left: 10%;
  background: #FFFFFF; 
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 12px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;  
  color: grey;
  text-decoration: none;
  
}

#delete_svg{
  position: absolute;
   top: -5%;
  left: 15%;
  background: #FFFFFF; 
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 12px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;  
  color: grey;
  text-decoration: none;

}
#add_salary{
  position: absolute;
   top: -5%;
  left: 20%;
  background: #FFFFFF; 
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 12px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;  
  color: grey;
  text-decoration: none;
}